<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{title}}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('frameworks/jquery/jquery-ui-1.12.1/jquery-ui.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('frameworks/bootstrap/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('frameworks/micron/css/micron.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('application/css/application.css') }}" />
            <link rel="stylesheet" href="{{ asset('application/css/button.css') }}" />
            <link rel="stylesheet" href="{{ asset('application/css/table.css') }}" />
            <link rel="stylesheet" href="{{ asset('application/css/nouvelle-tache.css') }}" />
            <link rel="stylesheet" href="{{ asset('application/css/modifier-tache.css') }}" />
            
        {% endblock %}
        {% block stylesheetsChild %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container-fluid">
            {% block body %}{% endblock %}
            <div class="container">
                {% if app.request.hasPreviousSession %}
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <strong>{{ message }}</strong>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset('frameworks/jquery/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset('frameworks/jquery/jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('frameworks/bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('frameworks/micron/js/micron.min.js') }}"></script>
            <script src="{{ asset('application/js/application.js') }}"></script>
        {% endblock %}
    </body>
</html>
