{% extends 'base.html.twig' %}

{% set conf_modifier_tache_vue =
    {
        'activation_edit_form_modifier_tache':true,
    }
%}

{% if conf_modifier_tache_vue.activation_edit_form_modifier_tache and reponse.resultat != '{}' and  reponse.message == 'success'%}
    {% form_theme reponse.edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% endif %}

{% block body %}

    <div class="container">
    
        {% if reponse.resultat != '{}' and  reponse.message == 'success' %}
            <h1 class="h1-app"><a class="h1-a-element" href="{{ path('modifier_tache', { 'id':reponse.resultat.id }) }}">Modifier ma tâche</a></h1>
        {% else %}
            <h1 class="h1-app"><a class="h1-a-element" href="#">Modifier ma tâche</a></h1>
        {% endif %}
        
        {% if reponse.resultat != '{}' and  reponse.message == 'success' %}
            <div id="form-request">


            {% if conf_modifier_tache_vue.activation_edit_form_modifier_tache %}
           
                
                    {{ form_start(reponse.edit_form) }}

                    <div class="flex-container-modifier-tache">
                        <div class="modifier-tache-input-label data-style-label">
                            Tâche
                        </div>
                        <div class="modifier-tache-input">
                            {{ form_widget(reponse.edit_form.nom, {'attr': {'class': 'modifier-tache-input-border', 'autocomplete':'off'} }) }}
                        </div>
                        <div class="modifier-tache-input-error">
                            {{ form_errors(reponse.edit_form.nom) }}
                        </div>
                    </div>
                    
                    <div class="flex-container-modifier-tache">
                        <div class="modifier-tache-input-label data-style-label">
                            <img src="{{ asset('application/images/icons8-workflow-40.png') }}"> Statut
                        </div>
                        <div class="modifier-tache-input">
                            {{ form_widget(reponse.edit_form.statut, {'attr': {'class': 'modifier-tache-input-border', 'autocomplete':'off'} }) }}
                        </div>
                        <div class="modifier-tache-input-error">
                            {{ form_errors(reponse.edit_form.statut) }}
                        </div>
                    </div>

                    <div class="flex-container-modifier-tache">
                        <div class="modifier-tache-input-label data-style-label">
                            <img src="{{ asset('application/images/icons8-resume-template-40.png') }}"> Description
                        </div>
                        <div class="modifier-tache-input">
                            {{ form_widget(reponse.edit_form.description, {'attr': {'class': 'modifier-tache-input-border', 'autocomplete':'off'} }) }}
                        </div>
                        <div class="modifier-tache-input-error">
                            {{ form_errors(reponse.edit_form.description) }}
                        </div>
                    </div>

                    <div class="flex-container-modifier-tache">
                        <div class="modifier-tache-input-label data-style-label">
                            <img src="{{ asset('application/images/icons8-target-40.png') }}"> Objectif
                        </div>
                        <div class="modifier-tache-input">
                            {{ form_widget(reponse.edit_form.objectif, {'attr': {'class': 'modifier-tache-input-border', 'autocomplete':'off'} }) }}
                        </div>
                        <div class="modifier-tache-input-error">
                            {{ form_errors(reponse.edit_form.objectif) }}
                        </div>
                    </div>

                    <div class="flex-container-modifier-tache">
                        <div class="modifier-tache-input-label data-style-label">
                            <img src="{{ asset('application/images/icons8-comments-40.png') }}"> Remarque
                        </div>
                        <div class="modifier-tache-input">
                            {{ form_widget(reponse.edit_form.remarque, {'attr': {'class': 'modifier-tache-input-border', 'autocomplete':'off'} }) }}
                        </div>
                        <div class="modifier-tache-input-error">
                            {{ form_errors(reponse.edit_form.remarque) }}
                        </div>
                    </div>    

                    <div class="flex-container-nouvelle-tache modifier-tache-input-ordre-tache">
                        <div class="modifier-tache-input-label data-style-label">
                            Ordre de la tâche
                        </div>
                        <div class="modifier-tache-input">
                            {{ form_widget(reponse.edit_form.ordre, {'attr': {'class': 'modifier-tache-input-border', 'autocomplete':'off'} }) }}
                        </div>
                        <div class="modifier-tache-input-error">
                            {{ form_errors(reponse.edit_form.ordre) }}
                        </div>
                    </div> 

                    <div class="modifier-tache-input-flex-container-action modifier-tache-last-pill-item">
                        <div class="modifier-tache-input-item-flex modifier-tache-input-auto">
                            <input class="successButton a-button a-action-modifier" type="submit" value="Sauvegarder" />
                            <a class='grayButton a-button a-action-retourner-tache' href="{{ path('consulter_tache', {'id':reponse.resultat.id} ) }}">Retour</a>
                        </div>
                    </div>

                    {{ form_end(reponse.edit_form) }}
           
            {% endif %}

            <div>
        {% else %}
            <p><strong>La tâche demandée n'existe pas.</strong> Veuillez repartir à la liste des tâches.</p>
            <div>
                <ul class="ul-button">
                    <li class="li-button">
                        <a class='infoButton a-button' href="{{ path('consulter_liste_taches') }}">Liste des tâches</a>
                    </li>
                </ul>
            <div>
        {% endif %}

    </div>
{% endblock %}